target/classes/players-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="players-system-api-httpListenerConfig" host="localhost" port="8034" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="players-system-api-config" raml="players-system-api.raml" consoleEnabled="false" doc:name="Router"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="1234" database="players" doc:name="MySQL Configuration"/>
    <flow name="players-system-api-main">
        <http:listener config-ref="players-system-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="players-system-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="players-system-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="players-system-api-console">
        <http:listener config-ref="players-system-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="players-system-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/players/{playerid}:players-system-api-config">
        <set-payload value="{&#xA;&quot;status&quot; : &quot;Details Updated&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/players/{playerid}:players-system-api-config">
        <set-payload value="{&#xA;&quot;status&quot; : &quot;Details Deleted&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/players:players-system-api-config">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
"select * from details"]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Get Message Processing Logs --&gt;#[payload]" level="INFO" doc:name="logMessageProcessingGet"/>
        <flow-ref name="players-system-apiGetAllDetailsSub_Flow" doc:name="players-system-apiGetAllDetailsSub_Flow"/>

    </flow>
    <sub-flow name="players-system-apiGetAllDetailsSub_Flow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[#[payload]]]></db:dynamic-query>
        </db:select>
        <logger message="DB Get All Details Log --&gt;#[payload]" level="INFO" doc:name="getAllDetailsDBLogs"/>
    </sub-flow>
    <flow name="get:/players/{playerid}:players-system-api-config">
        <set-payload value="{&#xA;&quot;playerid&quot; : &quot;&quot;,&#xA;&quot;name&quot; : &quot;&quot;,&#xA;&quot;age&quot; : &quot;&quot;,&#xA;&quot;weight&quot; : &quot;&quot;,&#xA;&quot;sports&quot; : &quot;&quot;,&#xA;&quot;gender&quot; : &quot;&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/players:players-system-api-config">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
"insert into details (playerid, name, age, weight, sports, gender) values (
"
++ "'" ++ payload.playerid ++ "'" ++ ","
++ "'" ++ payload.name ++ "'" ++ ","
++ "'" ++ payload.age ++ "'" ++ ","
++ "'" ++ payload.weight ++ "'" ++ ","
++ "'" ++ payload.sports ++ "'" ++ ","
++ "'" ++ payload.gender ++ "'" ++ ")"]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Post Message Processing Logs --&gt; #[payload]" level="INFO" doc:name="logPostDetails"/>
        <flow-ref name="insertDetailsSub_Flow" doc:name="insertDetailsSub_Flow"/>

    </flow>
    <sub-flow name="insertDetailsSub_Flow">
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[#[payload]]]></db:dynamic-query>
        </db:insert>
        <logger message="DB Logs Post Details --&gt; #[payload]" level="INFO" doc:name="logPostDetails"/>
    </sub-flow>
    <flow name="post:/players/{playerid}:players-system-api-config">
        <set-payload value="{&#xA;&quot;status&quot; : &quot;Added&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="players-system-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
